# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve -- livereload'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: MM4SPA
email: m.wohlan@dshs-koeln.de
description: >- # this means to ignore newlines until "baseurl:"
  Hier kann eine Projektbeschreibung hin. Diese wird für die Google suche im dukoment head meta und in der feed.xml site beschreibung zu sehen sein.
baseurl: "/test_website" # the subpath of your site, e.g. /blog
url: "https://martinwohlan.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: twitter_username
github_username:  github_username


#author is the default for posts and it is used in the footer
author: Martin Wohlan
facebook_username: facebook_username
youtube_username: youtube_username


#new fields (nicht in minima Layout enthalten)

#title-logo is a new field that, when used, displays a logo
# Ideally image is 50px high and takes up minimal horizontal space
title-logo: /images/title-logo.jpg


# Build settings
# Haben die ordner von dem minima theme hier bei uns eingefügt, dadurch muss das theme in diesem File nicht mehr angegeben werden (=regular Theme)
#theme: minima #Bei ÄNDERUNG sicher gehen, ob von github pages unterstützt
plugins: #Bei ÄNDERUNG sicher gehen, ob von github pages unterstützt
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
